<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>APPLICATION_NAME</name>
          <description></description>
          <defaultValue>CAFE</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>REGEX_PATTERN</name>
          <description></description>
          <defaultValue>16.12.01</defaultValue>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <org.jenkinsci.plugins.Demo__plugin__Jenkins.HelloWorldBuilder plugin="Demo_plugin_Jenkins@1.0-SNAPSHOT">
      <application__Name>${APPLICATION_NAME}</application__Name>
      <regex__string>${REGEX_PATTERN}</regex__string>
    </org.jenkinsci.plugins.Demo__plugin__Jenkins.HelloWorldBuilder>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>